/* font importing */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}


html,
body {
  width: 100%;
  overflow-x: hidden;
}


.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



/* botões */

section .catalog {
  width: 100vw;
  padding: 100px;
}

section .filter-card {
  width: 100px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .card-item {
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 100%;
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  background: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.title-wrapper-features {
  padding: 20px 0px;
}

.feature-card-block {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: white;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}

.feature-card-item {
  max-width: 420px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #dedede3b;
  border-radius: 4px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
}

.feature-card-item img {
  width: 64px;
  height: 64px;
}



/* Responsive adjustments */

@media (max-width: 1000px) {
  nav ul li {
    display: none;
  }

  .title-wrapper-about {
    margin-bottom: 10px;
  }
  .about-content {
    flex-direction: column;
    height: 100%;
  }
  .left {
    display: none;
  }
  .right {
    width: 90%;
  }

  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100%;
  }

  footer .main {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }
}